*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/libs/com.lge.ivi.jar
app/libs/com.lge.ivi_181002.jar
app/libs/com.lge.ivi_191209.jar
